# Preparing Data and Tool

In [1]:
# Create a data context
from great_expectations.data_context import FileDataContext
context = FileDataContext.create(project_root_dir='./')

c:\Users\DELL\anaconda3\envs\h8_env\lib\site-packages\google\auth\__init__.py:54: FutureWarning:
    You are using a Python version 3.9 past its end of life. Google will update
    google-auth with critical bug fixes on a best-effort basis, but not
    with any other fixes or features. Please upgrade your Python version,
    and then update google-auth.

  warnings.warn(eol_message.format("3.9"), FutureWarning)
c:\Users\DELL\anaconda3\envs\h8_env\lib\site-packages\google\oauth2\__init__.py:40: FutureWarning:
    You are using a Python version 3.9 past its end of life. Google will update
    google-auth with critical bug fixes on a best-effort basis, but not
    with any other fixes or features. Please upgrade your Python version,
    and then update google-auth.

  warnings.warn(eol_message.format("3.9"), FutureWarning)

In [2]:
# Give a name to a Datasource. This name must be unique between Datasources.
datasource_name = 'data'
datasource = context.sources.add_pandas(datasource_name)

# Give a name to a data asset
asset_name = 'customer_dataset'
path_to_data = r'C:\Users\DELL\Portfolio\Customer_Behavior_Analysis\dags\clean_data.csv'
asset = datasource.add_csv_asset(asset_name, filepath_or_buffer=path_to_data)

# Build batch request
batch_request = asset.build_batch_request()

In [3]:
# Creat an expectation suite
expectation_suite_name = 'expectation-customer-dataset'
context.add_or_update_expectation_suite(expectation_suite_name)

# Create a validator using above expectation suite
validator = context.get_validator(
    batch_request = batch_request,
    expectation_suite_name = expectation_suite_name)

# Check the validator
validator.head()

Calculating Metrics:   0%|          | 0/1 [00:00<?, ?it/s]

,id,education,marital_status,income,kidhome,teenhome,dt_customer,recency,mnt_wines,mnt_fruits,...,num_web_visits_month,accepted_cmp_3,accepted_cmp_4,accepted_cmp_5,accepted_cmp_1,accepted_cmp_2,complain,age,customer_years,num_no_deal_purchases
0,5524,Undergraduate,Single,58138.0,0,0,2012-04-09,58,635,88,...,7,0,0,0,0,0,0,65,9.73,19
1,2174,Undergraduate,Single,46344.0,1,1,2014-08-03,38,11,1,...,5,0,0,0,0,0,0,68,7.41,2
2,4141,Undergraduate,Together,71613.0,0,0,2013-08-21,26,426,49,...,4,0,0,0,0,0,0,57,8.36,19
3,6182,Undergraduate,Together,26646.0,1,0,2014-10-02,26,11,4,...,6,0,0,0,0,0,0,38,7.25,4
4,5324,PhD,Married,58293.0,1,0,2014-01-19,94,173,43,...,5,0,0,0,0,0,0,41,7.95,9

# Setting Expectation

In [4]:
# Expectation 1 : Column `dropoff_datetime` must be unique
validator.expect_column_values_to_be_unique('id')

Calculating Metrics:   0%|          | 0/8 [00:00<?, ?it/s]

{
  "success": true,
  "result": {
    "element_count": 2205,
    "unexpected_count": 0,
    "unexpected_percent": 0.0,
    "partial_unexpected_list": [],
    "missing_count": 0,
    "missing_percent": 0.0,
    "unexpected_percent_total": 0.0,
    "unexpected_percent_nonmissing": 0.0
  },
  "meta": {},
  "exception_info": {
    "raised_exception": false,
    "exception_traceback": null,
    "exception_message": null
  }
}

In [5]:
# Expectation 2 : Column `tip_amount` must be less than $ 100
validator.expect_column_values_to_be_between(
    column='age', min_value=0, max_value=100
)

Calculating Metrics:   0%|          | 0/8 [00:00<?, ?it/s]

{
  "success": true,
  "result": {
    "element_count": 2205,
    "unexpected_count": 0,
    "unexpected_percent": 0.0,
    "partial_unexpected_list": [],
    "missing_count": 0,
    "missing_percent": 0.0,
    "unexpected_percent_total": 0.0,
    "unexpected_percent_nonmissing": 0.0
  },
  "meta": {},
  "exception_info": {
    "raised_exception": false,
    "exception_traceback": null,
    "exception_message": null
  }
}

In [6]:
# Expectation 3 : Column `education` must contain one of the following 4 things :
validator.expect_column_values_to_be_in_set('education', ['High School', 'Undergraduate', 'Master', 'PhD'])

Calculating Metrics:   0%|          | 0/8 [00:00<?, ?it/s]

{
  "success": true,
  "result": {
    "element_count": 2205,
    "unexpected_count": 0,
    "unexpected_percent": 0.0,
    "partial_unexpected_list": [],
    "missing_count": 0,
    "missing_percent": 0.0,
    "unexpected_percent_total": 0.0,
    "unexpected_percent_nonmissing": 0.0
  },
  "meta": {},
  "exception_info": {
    "raised_exception": false,
    "exception_traceback": null,
    "exception_message": null
  }
}

In [7]:
# Expectation 4 : Column `income` must in form of float or integer
validator.expect_column_values_to_be_in_type_list('income', ['float', 'integer'])

Calculating Metrics:   0%|          | 0/1 [00:00<?, ?it/s]

{
  "success": true,
  "result": {
    "observed_value": "float64"
  },
  "meta": {},
  "exception_info": {
    "raised_exception": false,
    "exception_traceback": null,
    "exception_message": null
  }
}

In [8]:
# Expectation 5 : Column 'dt_customer' should be in date data type
validator.expect_column_values_to_match_strftime_format(column='dt_customer', strftime_format='%Y-%m-%d')

Calculating Metrics:   0%|          | 0/8 [00:00<?, ?it/s]

{
  "success": true,
  "result": {
    "element_count": 2205,
    "unexpected_count": 0,
    "unexpected_percent": 0.0,
    "partial_unexpected_list": [],
    "missing_count": 0,
    "missing_percent": 0.0,
    "unexpected_percent_total": 0.0,
    "unexpected_percent_nonmissing": 0.0
  },
  "meta": {},
  "exception_info": {
    "raised_exception": false,
    "exception_traceback": null,
    "exception_message": null
  }
}

In [9]:
# Expectation 6 : Number of column should be 29 columns
validator.expect_table_column_count_to_equal(value=28)

Calculating Metrics:   0%|          | 0/3 [00:00<?, ?it/s]

{
  "success": true,
  "result": {
    "observed_value": 28
  },
  "meta": {},
  "exception_info": {
    "raised_exception": false,
    "exception_traceback": null,
    "exception_message": null
  }
}

In [10]:
# Expectation 7 : columns' name check
validator.expect_table_columns_to_match_set(column_set=['id',
 'education',
 'marital_status',
 'income',
 'kidhome',
 'teenhome',
 'dt_customer',
 'recency',
 'mnt_wines',
 'mnt_fruits',
 'mnt_meat_products',
 'mnt_fish_products',
 'mnt_sweet_products',
 'mnt_gold_prods',
 'num_deals_purchases',
 'num_web_purchases',
 'num_catalog_purchases',
 'num_store_purchases',
 'num_web_visits_month',
 'accepted_cmp_3',
 'accepted_cmp_4',
 'accepted_cmp_5',
 'accepted_cmp_1',
 'accepted_cmp_2',
 'complain',
 'age',
 'customer_years',
 'num_no_deal_purchases'])

Calculating Metrics:   0%|          | 0/2 [00:00<?, ?it/s]

{
  "success": true,
  "result": {
    "observed_value": [
      "id",
      "education",
      "marital_status",
      "income",
      "kidhome",
      "teenhome",
      "dt_customer",
      "recency",
      "mnt_wines",
      "mnt_fruits",
      "mnt_meat_products",
      "mnt_fish_products",
      "mnt_sweet_products",
      "mnt_gold_prods",
      "num_deals_purchases",
      "num_web_purchases",
      "num_catalog_purchases",
      "num_store_purchases",
      "num_web_visits_month",
      "accepted_cmp_3",
      "accepted_cmp_4",
      "accepted_cmp_5",
      "accepted_cmp_1",
      "accepted_cmp_2",
      "complain",
      "age",
      "customer_years",
      "num_no_deal_purchases"
    ]
  },
  "meta": {},
  "exception_info": {
    "raised_exception": false,
    "exception_traceback": null,
    "exception_message": null
  }
}

In [11]:
# Save into Expectation Suite
validator.save_expectation_suite(discard_failed_expectations=False)

# Expectation Checkpoint

In [12]:
# Create a checkpoint
checkpoint_1 = context.add_or_update_checkpoint(
    name = 'checkpoint_1',
    validator = validator,
)

In [13]:
# Run a checkpoint
checkpoint_result = checkpoint_1.run()

Calculating Metrics:   0%|          | 0/32 [00:00<?, ?it/s]

In [14]:
# Build data docs
context.build_data_docs()

{'local_site': 'file://c:\\Users\\DELL\\Portfolio\\Customer_Behavior_Analysis\\gx\\uncommitted/data_docs/local_site/index.html'}